{% extends "layout.html" %}
  {% block content %}
<div class="container">
  <div class="row">
    <div class="col">
  
      <br/>
      
      <h2>Peering DB Counts and Totals</h2>
      <h3>Total IXs: <a href="{{ url_for('ix') }}">{{ total_ixs }}</a></h3>
      <h3>Total Nets: <a href="{{ url_for('net') }}">{{ total_nets }}</a></h3>
      <h3>Total Peerings: <a href="{{ url_for('peering') }}">{{ total_peerings }}</a></h3>
      <h3>Total Speed: <a href="{{ url_for('peering') }}">{{ total_speed }}</a></h3>

    </div>

    <div class="col">
    
      <br>
    
      <h2>Top Exchanges</h2>

      <br>
    
      <h2>Top Nets</h2>
  
    </div>
  </div>
</div>

{% endblock %}