<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <title>PeeringDB Dashbboard</title>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Peering DB Dashboard</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link {% if request.path == '/ix/' %}active{% endif %}" aria-current="page" href="/ix/">Exchanges</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if request.path == '/net/' %}active{% endif %}" href="/net/">Nets</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if request.path == '/peering/' %}active{% endif %}" href="/peering/" tabindex="-1" aria-disabled="false">Peerings</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    {% block content %}
    {% endblock %}

   <script src="{{ url_for('static', filename='bootstrap.js') }}" ></script>

  </body>
</html>
