{% extends "layout.html" %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col">

      <br/>
      
      <div class="col-md-auto">
        <br>
        
        <h2>Networks (by Total Peerings)</h2>
        <h5>Total: {{total_nets}}</h5>
        <br>
        <h6>Displaying top 500</h6>
        <table class="table">
          <thead>
            <tr>
              <th>Network Name</th>
              <th>ASN</th>
              <th>Exchange Presence #</th>
              <th>Total Peerings</th>
              <th>Aggregate Speed</th>
            </tr>
          </thead>
          <tbody>
            {% for row in all_nets %}
            <tr>
              <td><a href="/net/{{ row['asn'] }}">{{ row['name'] }}</a></td>
              <td>{{ row['asn'] }}</td>
              <td>{{ row['ix_count'] }}</td>
              <td>{{ row['peer_count'] }}</td>
              <td>{{ row['total_speed'] }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>


    </div>
  </div>
</div>

{% endblock %}